*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container_canvas{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(56, 55, 55);
}

#canvas{
    background-image: url(./assets/Gemini_Generated_Image_4m4f1b4m4f1b4m4f.png);
}